
*{
    margin: 0;
    padding: 0;

}

#quiz-heading{
    text-align: center;
    background-color: rgba(225, 159, 111, 0.735);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background-color: rgba(49, 78, 79, 0.121);
}

.quizz-heading{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 32px;
}
.scoring{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 22px;
    background-color: rgba(107, 37, 37, 0.112);
    padding: 23px 0;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: bisque;
    padding: 48px 0;
}
.sepatate{
   
    box-shadow: 0 0 12px 12px rgba(152, 199, 202, 0.82);
    padding: 22px 22px;
    margin: 22px 0;
    background-color: rgb(100, 220, 220);
}
.question{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.answer-button{
    
    padding: 22px 22px;
    margin: 12px 12px;
}
button{
    padding: 13px;
    border: none;
    outline: none;
    border-radius: 8px;
    box-shadow: 0 0 4px 5px rgba(247, 230, 230, 0.402);
    letter-spacing: 3px;
}
button:hover{
background-color: black;
color: white;
}

